__pycache__/*
.sass-cache/*
api/__pycache__/*
api/static/css/*.map
api/static/bower_components/*
api/models.pyc
api/restfull.pyc
api/database.pyc
api/route.pyc
api/upload.pyc
api/mail.pyc
api/functions.pyc
run.pyc
alembic.ini
api/__init__.pyc
alembic/
scripts/*
node_modules/*
.env
run