body,
ul,
li {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {}

.iframe-nav {
    width: 340px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    ul {
        width: 100%;
        box-sizing: border-box;
        float: left;
        display: inline-block;
        li {
            display: inline-block;
            float: left;
            width: 100%;
            a {
                display: inline-block;
                float: left;
                padding: 20px;
                width: 100%;
                border-bottom: 1px solid rgba(#b6b0c8, 0.2);
                text-decoration: none;
                color: #222;
                opacity: 0.7;
                font-weight: 600;
                box-sizing: border-box;
                text-align: left;
                &:hover {
                    background: rgba(black, 0.05);
                    opacity: 1;
                }
                .glyphicon {
                    margin-righ: 20px;
                    display: block;
                    float: left;
                    font-size: 24px;
                }
            }
        }
    }
}