    body {
        height: 100%;
        font-family: 'Lato';
        background: #f0f0f0; //url('/static/img/loginpage/2144.jpg');
        background-size: cover;
    }
    
    .project-navbar {
        width: 100%;
        .nav-header {
            position: fixed;
            height: 60px;
            background: #f0f0f0;
            width: 100%;
            clear: both;
            float: left;
            box-sizing: border-box;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0 1px 3px lighten(#ccc, 10%);
            border-bottom: 1px #e1e4e8 solid;
        }
        .nav-download {
            float: right;
            background-color: #D45A5A;
            border-radius: 5px;
            padding: 15px;
            margin: 5px 5px;
            width: 50px;
            height: 50px;
            a {
                text-decoration: none;
                color: #404040;
                span {
                    font-size: 20px;
                }
            }
        }
        .project-navigation {
            float: left;
            height: 100%;
            ul {
                float: left;
                width: 100%;
                margin: 0;
                li {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 20px;
                    padding-bottom: 0;
                    float: left;
                    text-align: center;
                    &.logo {
                        padding-right: 0;
                    }
                    &.title {
                        padding-left: 0;
                        margin-right: 20px;
                    }
                    a {
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        width: 100%;
                        text-decoration: none;
                        color: #414141;
                        &.logo {
                            position: relative;
                            font-size: 12px;
                            font-weight: 600;
                            width: 100%;
                            text-decoration: none;
                            margin-left: 12px;
                            margin-top: 9px;
                            img {
                                position: absolute;
                                float: left;
                                bottom: -10px;
                            }
                        }
                    }
                }
            }
        }
        .log-in {
            float: right;
            margin: 0;
            li {
                display: inline-block;
                box-sizing: border-box;
                padding: 20px;
                padding-bottom: 0;
                float: left;
                text-align: center;
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    width: 100%;
                    text-decoration: none;
                    color: #414141;
                }
            }
        }
    }
    
    .app-container {
        float: left;
        padding: 120px;
        background: darken(white, 2%);
        width: 100%;
        .app-overflow {
            text-align: center;
            float: left;
            box-sizing: border-box;
            padding: 4%;
            width: 25%;
            height: 270px;
            margin-bottom: 100px;
            overflow: hidden;
            .app-img {
                width: 100%;
                float: left;
                margin-bottom: 30px;
                text-align: center;
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .app-name {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .app-desc {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
    
    .popup {
        &.log-in {
            padding: 23px;
            background-color: rgba(255, 255, 255, 0.98);
            margin-top: 5%;
            border-radius: 5px;
            .form-overflow,
            .user-overflow {
                header {
                    h1 {
                        margin-bottom: 35px;
                        font-size: 35px;
                    }
                    .login-failure {
                        opacity: 0.7;
                        color: red;
                        font-weight: 800;
                        font-size: 18px;
                        margin-bottom: 35px;
                        float: left;
                    }
                }
                .input-overflow {
                    float: left;
                    width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: auto;
                    margin-bottom: 40px;
                    padding-left: 40px;
                    padding-right: 40px;
                    .label {
                        clear: both;
                        width: 100%;
                        float: left;
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
                        color: #ccc;
                        margin: 0;
                        padding: 0;
                    }
                    input {
                        box-sizing: border-box;
                        padding: 10px 0;
                        border: 0;
                        background: none;
                        margin: 0;
                        height: 48px;
                        outline: none;
                        font-size: 20px;
                        float: right;
                        width: 100%;
                        border-bottom: 2px solid #ddd;
                        &:focus {
                            border-color: #2ea4d2;
                        }
                    }
                }
                .form-link {
                    padding-top: 13px;
                    font-size: 16px;
                }
            }
            .user-overflow {
                .user-avatar {
                    float: left;
                    text-align: center;
                    overflow: hidden;
                    width: 100%;
                    height: 100px;
                    img {
                        border-radius: 100%;
                        width: 100px;
                    }
                }
                .user-info {
                    width: 100%;
                    float: left;
                    text-align: center;
                    .username,
                    .info-row {
                        clear: both;
                        float: left;
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                    }
                    .username {
                        font-size: 20px;
                        font-weight: 600;
                        color: #77a5e3;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                    .info-row {
                        color: #ccc;
                        width: 50%;
                        margin: 0 auto;
                        display: block;
                        float: none;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgba(#ddd, 0.3);
                    }
                    .buttons {
                        width: 50%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        margin-top: 20px;
                        .button {
                            margin-top: 10px;
                            width: 100%;
                            text-decoration: none;
                            float: left;
                        }
                    }
                }
            }
        }
    }
    
    .project-container,
    {
        position: fixed;
        float: right;
        width: 33.3333%;
        box-sizing: border-box;
        right: 0;
        top: 60px;
        bottom: 0;
        background-color: #fff;
        box-shadow: inset 7px 0px 0px -5px rgba(0, 0, 0, 0.04);
    }
    
    .the-component {
        float: left;
        width: 100%;
        padding: 40px;
        text-align: center;
        h2 {
            font-size: 16px;
            font-weight: 400;
            float: left;
            width: 100%;
            margin-bottoM: 40px;
            font-weight: 400;
            color: #888;
        }
        .download-button {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 80px;
            display: block;
            float: left;
            .button {
                padding-top: 20px;
                padding-bottom: 20px;
                text-decoration: none;
                .glyphicon {
                    margin-right: 20px;
                    margin-top: 5px;
                }
                float: none;
            }
        }
    }
    
    footer.main-footer {
        background: #34313d;
        .copyright {
            float: left;
            text-transform: uppercase;
            font-size: 15px;
            color: #414141;
            font-weight: 500;
            margin-top: 8px;
            padding: 0;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }
    }
