    body {
        height: 100vh;
        float: left;
        font-family: 'Lato';
        background: darken(white,1.5%);
        background-size: cover;
        padding-top: 80px;
    }

    .black-bg{
        background: #D45A5A;
        opacity: 0.8;
    }

    .project-navbar {
        width: 100%;
        .nav-header {
            position: fixed;
            height: 80px;
            background: #fff;
            width: 100%;
            clear: both;
            float: left;
            box-sizing: border-box;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0 -2px 10px lighten(#888, 5%);
        }
        .nav-download {
            float: right;
            border-radius: 5px;
            padding: 15px;
            margin: 0px 30px;
            margin-top: 13px;
            width: auto;
            height: 100%;
            a {
                text-decoration: none;
                color: #D45A5A;
                span {
                    font-size: 20px;
                }
            }
        }
        .project-navigation {
            float: left;
            height: 100%;
            padding-top: 12px;
            box-sizing: border-box;
            ul {
                float: left;
                width: 100%;
                margin: 0;
                height: 100%;
                li {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 20px;
                    padding-bottom: 0;
                    float: left;
                    text-align: center;
                    height: 100%;
                    &.logo{
                        margin-right: 20px;
                        margin-top: 15px;
                        padding: 0 20px;

                    }
                    a {
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        width: 100%;
                        text-decoration: none;
                        color: #414141;
                        height: 100%;
                        &:hover{
                            border-bottom: 2px solid #D45A5A;
                        }
                        &.logo {
                            position: relative;
                            font-size: 12px;
                            font-weight: 600;
                            width: 100%;
                            text-decoration: none;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
        .log-in {
            float: right;
            margin: 0;
            margin-top: 10px;
            li {
                display: inline-block;
                box-sizing: border-box;
                padding: 20px;
                padding-bottom: 0;
                float: left;
                text-align: center;
                img.user-avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: relative;
                    bottom: 5px;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    width: 100%;
                    text-decoration: none;
                    color: #414141;
                }
            }
        }
    }

    .app-container {
        float: left;
        padding: 120px;
        background: darken(white,1.5%);
        width: 100%;
        .app-overflow {
            text-align: center;
            float: left;
            box-sizing: border-box;
            padding: 4%;
            width: 25%;
            height: 270px;
            margin-bottom: 80px;
            overflow: hidden;
            .app-img {
                width: 100%;
                float: left;
                margin-bottom: 30px;
                text-align: center;
                img {
                    width: 45px;
                    height: 45px;
                }
            }
            .app-name {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .app-desc {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .popup {
        width: 340px;
        &.log-in {
            padding: 23px;
            background-color: rgba(255, 255, 255, 0.98);
            margin-top: 5%;
            border-radius: 2px;
            .form-overflow,
            .user-overflow {
                header {
                    h1 {
                        margin-bottom: 35px;
                        font-size: 22px;
                    }
                    .login-failure {
                        opacity: 0.7;
                        color: red;
                        font-weight: 800;
                        font-size: 18px;
                        margin-bottom: 35px;
                        float: left;
                    }
                }
                .input-overflow {
                    float: left;
                    width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: auto;
                    margin-bottom: 40px;
                    .label {
                        clear: both;
                        width: 100%;
                        float: left;
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
                        color: #ccc;
                        margin: 0;
                        padding: 0;
                    }
                    input {
                        box-sizing: border-box;
                        padding: 10px 0;
                        border: 0;
                        background: none;
                        margin: 0;
                        height: 48px;
                        outline: none;
                        font-size: 20px;
                        float: right;
                        width: 100%;
                        border-bottom: 2px solid #ddd;
                        &:focus {
                            border-color: #2ea4d2;
                        }
                    }
                }
                .form-link {
                    padding-top: 13px;
                    font-size: 16px;
                }
            }
            .user-overflow {
                .user-avatar {
                    float: left;
                    text-align: center;
                    overflow: hidden;
                    width: 100%;
                    height: 100px;
                    img {
                        border-radius: 100%;
                        width: 100px;
                    }
                }
                .user-info {
                    width: 100%;
                    float: left;
                    text-align: center;
                    .username,
                    .info-row {
                        clear: both;
                        float: left;
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                    }
                    .username {
                        font-size: 20px;
                        font-weight: 600;
                        color: #77a5e3;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                    .info-row {
                        color: #ccc;
                        width: 50%;
                        margin: 0 auto;
                        display: block;
                        float: none;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgba(#ddd, 0.3);
                    }
                    .buttons {
                        width: 50%;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        margin-top: 20px;
                        .button {
                            margin-top: 10px;
                            width: 100%;
                            text-decoration: none;
                            float: left;
                        }
                    }
                }
            }
        }
    }

    .project-container,
    {
        position: fixed;
        float: right;
        width: 360px;
        padding: 20px;
        box-sizing: border-box;
        right: 0;
        top: 80px;
        bottom: 0;
        background-color: #D45A5A;
        height: 100%;
        z-index: 9999999999999999;
        h3{
            color: rgba(0,0,0,0.4);
            margin-bottom: 20px;
        }
        article{
            color: #fff;
            float: left;
            width: 100%;
            font-size: 14px;
            p{float: left;margin: 0;}
            .code{
                color: lighten(cornflowerblue, 5%);
                background: #34313d;
                padding: 7px;
                font-size: 12px;
                border-radius: 2px;
                clear: both;
                margin: 20px 0;
                float: left;
                &.comment{
                    color: lighten(#34313d, 40%);
                    font-size: 9px;
                }
            }
        }
        .download-button{
            clear: both;
            float: left;
            width: 100%;
            margin-top: 40px;
            color :#fff;
            background: transparent;
            padding: 14px 7px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-weight: 600;

        }
    }

    .the-component {
        float: left;
        width: 100%;
        padding: 40px;
        text-align: center;
        h2 {
            font-size: 16px;
            font-weight: 400;
            float: left;
            width: 100%;
            margin-bottoM: 40px;
            font-weight: 400;
            color: #888;
        }
        .download-button {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 80px;
            display: block;
            float: left;
            .button {
                padding-top: 20px;
                padding-bottom: 20px;
                text-decoration: none;
                .glyphicon {
                    margin-right: 20px;
                    margin-top: 5px;
                }
                float: none;
            }
        }
    }

    footer.main-footer {
        float: left;
        width: 100%;
        background: #34313d;
        box-sizing: border-box;
        padding: 20px 0;
        .copyright {
            float: left;
            text-transform: uppercase;
            font-size: 15px;
            color: #fff;
            font-weight: 500;
            margin-top: 8px;
            padding: 0;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }
    }
