body {
  height: 100%;
  font-family: 'Lato';
  background: #fff;
  background-size: cover; }

.project-container,
.form-container,
.app-container {
  box-sizing: border-box;
  padding: 40px;
  float: left;
  width: 100%; }

.button {
  float: left;
  width: auto;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none; }
  .button.blue {
    background: #2ea4d2; }
  .button.orange {
    background: #F4B759; }
  .button.green {
    background: #3fce91; }
  .button.big {
    padding: 20px 60px;
    font-size: 20px; }
  .button.bordered {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }

.project-container {
  background: transparent;
  background-size: cover;
  width: 70%;
  height: 100%;
  float: right;
  position: relative; }
  .project-container .fractal-overflow {
    float: right;
    width: 100%;
    position: absolute;
    top: 40px;
    right: 40px; }
    .project-container .fractal-overflow .fractal {
      float: right;
      margin-bottom: 15px;
      margin-left: 15px;
      border-radius: 20px;
      height: 18px;
      background: black;
      opacity: 0.1; }
      .project-container .fractal-overflow .fractal.break {
        clear: both; }
      .project-container .fractal-overflow .fractal.blue {
        background: blue; }
      .project-container .fractal-overflow .fractal.red {
        background: red; }
      .project-container .fractal-overflow .fractal.orange {
        background: orange; }
      .project-container .fractal-overflow .fractal.green {
        background: green; }
      .project-container .fractal-overflow .fractal.lightgreen {
        background: lightgreen; }
      .project-container .fractal-overflow .fractal.transparent {
        background: transparent; }
      .project-container .fractal-overflow .fractal.long {
        width: 12%; }
      .project-container .fractal-overflow .fractal.medium {
        width: 9%; }
      .project-container .fractal-overflow .fractal.medium-short {
        width: 7%; }
      .project-container .fractal-overflow .fractal.short {
        width: 5%; }
      .project-container .fractal-overflow .fractal.micro {
        width: 2%; }
  .project-container .main-project-section {
    width: 750px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    text-align: center; }
    .project-container .main-project-section .project-header .logo {
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 40px; }
    .project-container .main-project-section .project-header .site-name {
      text-transform: uppercase;
      font-weight: 800;
      width: 100%;
      float: left;
      font-size: 72px; }
    .project-container .main-project-section .the-component {
      margin-top: 20px;
      float: left;
      width: 100%; }
      .project-container .main-project-section .the-component h2 {
        font-size: 16px;
        font-weight: 400;
        float: left;
        width: 100%;
        margin: 20px 0;
        font-weight: 400;
        color: #888;
        padding: 0 100px; }
      .project-container .main-project-section .the-component .download-button {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        float: left; }
        .project-container .main-project-section .the-component .download-button .button {
          float: none; }
          .project-container .main-project-section .the-component .download-button .button .glyphicon {
            margin-right: 30px;
            margin-top: 5px; }

.form-container {
  width: 30%;
  height: 100%;
  background: transparent;
  position: relative; }
  .form-container .main-header {
    width: 100%;
    clear: both;
    float: left;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    box-shadow: none; }
    .form-container .main-header .project-navigation {
      width: 100%;
      float: left;
      margin-top: 10px; }
      .form-container .main-header .project-navigation ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0; }
        .form-container .main-header .project-navigation ul li {
          display: inline-block;
          width: 33.333333%;
          box-sizing: border-box;
          padding: 20px;
          float: left;
          text-align: center; }
          .form-container .main-header .project-navigation ul li a {
            display: block;
            color: #ccc;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            width: 100%; }
  .form-container .form-overflow,
  .form-container .user-overflow {
    margin-top: 18vh;
    width: 100%;
    float: left; }
    .form-container .form-overflow header h1,
    .form-container .user-overflow header h1 {
      margin-bottom: 80px;
      font-size: 36px; }
    .form-container .form-overflow .input-overflow,
    .form-container .user-overflow .input-overflow {
      float: left;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 2px solid #ddd;
      overflow: hidden;
      height: auto;
      margin-bottom: 40px; }
      .form-container .form-overflow .input-overflow .label,
      .form-container .user-overflow .input-overflow .label {
        clear: both;
        width: 100%;
        float: left;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #ccc;
        margin: 0;
        padding: 0; }
      .form-container .form-overflow .input-overflow input,
      .form-container .user-overflow .input-overflow input {
        box-sizing: border-box;
        padding: 10px 0;
        border: 0;
        background: none;
        margin: 0;
        height: 48px;
        outline: none;
        font-size: 20px;
        float: right;
        width: 100%; }
  .form-container .user-overflow .user-avatar {
    float: left;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100px; }
    .form-container .user-overflow .user-avatar img {
      border-radius: 100%;
      width: 100px; }
  .form-container .user-overflow .user-info {
    width: 100%;
    float: left;
    text-align: center; }
    .form-container .user-overflow .user-info .username,
    .form-container .user-overflow .user-info .info-row {
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      font-size: 16px; }
    .form-container .user-overflow .user-info .username {
      font-size: 20px;
      font-weight: 600;
      color: #77a5e3;
      margin-top: 20px;
      margin-bottom: 40px; }
    .form-container .user-overflow .user-info .info-row {
      color: #ccc;
      width: 50%;
      margin: 0 auto;
      display: block;
      float: none;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(221, 221, 221, 0.3); }
    .form-container .user-overflow .user-info .buttons {
      width: 50%;
      text-align: center;
      display: block;
      margin: 0 auto; }
      .form-container .user-overflow .user-info .buttons .button {
        margin-top: 30px;
        width: 100%; }

.app-container {
  padding: 120px;
  background: transparent; }
  .app-container .app-overflow {
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    width: 25%;
    vertical-align: top; }
    .app-container .app-overflow .app-img {
      width: 100%;
      float: left;
      margin-bottom: 30px;
      text-align: center; }
      .app-container .app-overflow .app-img img {
        width: 70px; }
    .app-container .app-overflow .app-name {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px; }
    .app-container .app-overflow .app-desc {
      font-size: 18px;
      font-weight: 300; }

/*# sourceMappingURL=loginpage.css.map */
