body {
  height: 100%;
  font-family: 'Lato';
  background: #f0f0f0;
  background-size: cover; }

.project-navbar {
  width: 100%;
  box-shadow: 0 1px 3px #e6e6e6; }
  .project-navbar .nav-header {
    height: 60px;
    background: #fff;
    width: 100%;
    clear: both;
    float: left;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none; }
  .project-navbar .nav-download {
    float: right;
    background-color: #D45A5A;
    border-radius: 3px;
    padding: 20px;
    margin: 0;
    width: 60px;
    height: 60px; }
    .project-navbar .nav-download a {
      text-decoration: none;
      color: white; }
      .project-navbar .nav-download a span {
        font-size: 20px; }
  .project-navbar .project-navigation {
    float: left;
    height: 100%; }
    .project-navbar .project-navigation ul {
      float: left;
      width: 100%;
      margin: 0; }
      .project-navbar .project-navigation ul li {
        display: inline-block;
        box-sizing: border-box;
        padding: 20px;
        padding-bottom: 0;
        float: left;
        text-align: center; }
        .project-navbar .project-navigation ul li.logo {
          padding-right: 0; }
        .project-navbar .project-navigation ul li.title {
          padding-left: 0; }
        .project-navbar .project-navigation ul li a {
          display: block;
          font-size: 16px;
          font-weight: 400;
          width: 100%;
          text-decoration: none;
          color: #414141; }
          .project-navbar .project-navigation ul li a.logo {
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            text-decoration: none; }
            .project-navbar .project-navigation ul li a.logo img {
              width: 30px;
              height: 30px;
              margin-left: 15px;
              float: left;
              margin-bottom: 10px; }
  .project-navbar .log-in {
    float: right;
    margin: 0; }
    .project-navbar .log-in li {
      display: inline-block;
      box-sizing: border-box;
      padding: 20px;
      padding-bottom: 0;
      float: left;
      text-align: center; }
      .project-navbar .log-in li a {
        display: block;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        text-decoration: none;
        color: #414141; }

.app-container {
  float: left;
  padding: 120px;
  background-color: #f0f0f0;
  width: 100%; }
  .app-container .app-overflow {
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    width: 25%;
    height: 270px;
    margin-bottom: 100px;
    overflow: hidden; }
    .app-container .app-overflow .app-img {
      width: 100%;
      float: left;
      margin-bottom: 30px;
      text-align: center; }
      .app-container .app-overflow .app-img img {
        width: 70px;
        height: 70px; }
    .app-container .app-overflow .app-name {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px; }
    .app-container .app-overflow .app-desc {
      font-size: 18px;
      font-weight: 300; }

footer.main-footer {
  background: #34313d; }
  footer.main-footer .copyright {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 8px;
    padding: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box; }

.popup.log-in {
  padding: 23px;
  background: #fff; }
  .popup.log-in .form-overflow header h1,
  .popup.log-in .user-overflow header h1 {
    margin-bottom: 35px;
    font-size: 35px; }
  .popup.log-in .form-overflow header .login-failure,
  .popup.log-in .user-overflow header .login-failure {
    opacity: 0.7;
    color: red;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 35px;
    float: left; }
  .popup.log-in .form-overflow .input-overflow,
  .popup.log-in .user-overflow .input-overflow {
    float: left;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px; }
    .popup.log-in .form-overflow .input-overflow .label,
    .popup.log-in .user-overflow .input-overflow .label {
      clear: both;
      width: 100%;
      float: left;
      text-align: left;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      color: #ccc;
      margin: 0;
      padding: 0; }
    .popup.log-in .form-overflow .input-overflow input,
    .popup.log-in .user-overflow .input-overflow input {
      box-sizing: border-box;
      padding: 10px 0;
      border: 0;
      background: none;
      margin: 0;
      height: 48px;
      outline: none;
      font-size: 20px;
      float: right;
      width: 100%;
      border-bottom: 2px solid #ddd; }
      .popup.log-in .form-overflow .input-overflow input:focus,
      .popup.log-in .user-overflow .input-overflow input:focus {
        border-color: #2ea4d2; }
  .popup.log-in .form-overflow .form-link,
  .popup.log-in .user-overflow .form-link {
    padding-top: 13px;
    font-size: 16px; }
  .popup.log-in .user-overflow .user-avatar {
    float: left;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100px; }
    .popup.log-in .user-overflow .user-avatar img {
      border-radius: 100%;
      width: 100px; }
  .popup.log-in .user-overflow .user-info {
    width: 100%;
    float: left;
    text-align: center; }
    .popup.log-in .user-overflow .user-info .username,
    .popup.log-in .user-overflow .user-info .info-row {
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      font-size: 16px; }
    .popup.log-in .user-overflow .user-info .username {
      font-size: 20px;
      font-weight: 600;
      color: #77a5e3;
      margin-top: 20px;
      margin-bottom: 40px; }
    .popup.log-in .user-overflow .user-info .info-row {
      color: #ccc;
      width: 50%;
      margin: 0 auto;
      display: block;
      float: none;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(221, 221, 221, 0.3); }
    .popup.log-in .user-overflow .user-info .buttons {
      width: 50%;
      text-align: center;
      display: block;
      margin: 0 auto; }
      .popup.log-in .user-overflow .user-info .buttons .button {
        margin-top: 30px;
        width: 100%; }

.project-container {
  position: fixed;
  float: right;
  min-width: 500px;
  box-sizing: border-box;
  right: 0;
  top: 60px;
  bottom: 0;
  background-color: #fff; }

/*# sourceMappingURL=loginpage2.css.map */
