html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #f3f3f3;
  background-attachment: fixed; }

.container-fluid {
  padding: 0;
  margin: 0;
  background: #f3f3f3; }

.row {
  padding: 0;
  margin: 0; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

/*WEBSITE */
.main-header {
  height: 90px;
  background: #fafafa;
  box-sizing: border-box;
  border-bottom: 2px solid #e3e3e3;
  position: relative; }
  .main-header .site-name {
    padding: 0;
    box-sizing: border-box;
    float: left;
    position: fixed;
    top: 0;
    left: 0; }
    .main-header .site-name a {
      text-decoration: none;
      width: 100%;
      padding: 0;
      margin: 0;
      float: left;
      color: #f0f0f0;
      opacity: 1;
      box-sizing: border-box;
      height: 90px;
      background: #2ea4d2;
      font-size: 16px;
      text-transform: uppercase;
      padding-top: 35px;
      font-weight: 800;
      text-align: center; }
      .main-header .site-name a:hover {
        background: #2ea4d2;
        color: #F0F0F0; }
  .main-header .user-section {
    float: right;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    height: 88px;
    transition: all 0.3s ease; }
    .main-header .user-section .user-avatar {
      position: relative;
      display: inline-block;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      background: #D45A5A;
      text-align: center; }
      .main-header .user-section .user-avatar img {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        display: block;
        border-radius: 100%;
        transition: all 0.3s ease;
        z-index: 1; }
      .main-header .user-section .user-avatar .glyphicon {
        position: absolute;
        left: 0;
        right: 0;
        color: #fff;
        margin-top: 13px;
        font-size: 20px;
        z-index: 2;
        opacity: 0; }
    .main-header .user-section .user-name {
      display: inline-block;
      float: left;
      margin: 16px 20px;
      margin-left: 5px;
      font-weight: 800; }
    .main-header .user-section:hover {
      cursor: pointer;
      transition: all 0.3s ease; }
    .main-header .user-section:hover .user-avatar img {
      opacity: 0.2;
      transition: all 0.3s ease; }
    .main-header .user-section:hover .user-avatar .glyphicon {
      opacity: 1;
      transition: all 0.3s ease; }
    .main-header .user-section .user-menu {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      right: 0;
      top: 88px;
      background: #fafafa;
      text-align: left;
      z-index: 3;
      border: 1px solid #e3e3e3;
      border-top: 2px solid #e3e3e3; }
      .main-header .user-section .user-menu ul {
        float: left;
        display: inline-block;
        width: 100%; }
        .main-header .user-section .user-menu ul li {
          display: block;
          float: left;
          width: 100%; }
          .main-header .user-section .user-menu ul li a {
            display: block;
            width: 100%;
            padding: 15px;
            color: #34313d; }
            .main-header .user-section .user-menu ul li a .glyphicon {
              font-size: 11px;
              margin-right: 15px; }

.main-navigation {
  position: fixed;
  top: 90px;
  left: 0;
  bottom: 0;
  background: #34313d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
  .main-navigation .main-navigation-overflow {
    height: 100%;
    overflow: auto;
    float: left;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; }
    .main-navigation .main-navigation-overflow ul {
      width: 100%;
      padding: 0;
      margin: 0;
      float: left;
      box-sizing: border-box; }
      .main-navigation .main-navigation-overflow ul .label {
        padding: 20px;
        color: #b6b0c8;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 800;
        opacity: 0.3;
        float: left;
        width: 100%;
        box-sizing: border-box;
        text-align: left; }
      .main-navigation .main-navigation-overflow ul li {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0; }
        .main-navigation .main-navigation-overflow ul li a {
          box-sizing: border-box;
          display: block;
          padding: 20px;
          text-decoration: none;
          color: #b6b0c8;
          font-weight: 400;
          transition: all 0.3s linear;
          opacity: 0.6;
          font-weight: 400; }
          .main-navigation .main-navigation-overflow ul li a .glyphicon {
            margin-right: 20px; }
          .main-navigation .main-navigation-overflow ul li a:hover {
            background: rgba(0, 0, 0, 0.1);
            transition: all 0.3s linear;
            opacity: 1; }

.main-content {
  padding: 20px 10px;
  box-sizing: border-box; }
  .main-content .box {
    padding: 20px;
    box-sizing: border-box;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative; }
    .main-content .box header {
      float: left;
      box-sizing: border-box;
      width: 100%;
      padding: 15px; }
      .main-content .box header h3 {
        float: left;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        font-size: 24px;
        font-weight: 400; }
        .main-content .box header h3.blue {
          color: #2ea4d2; }
        .main-content .box header h3.orange {
          color: #F4B759; }
        .main-content .box header h3.green {
          color: #3fce91; }
      .main-content .box header .header-icon {
        position: absolute;
        right: 15px;
        top: 20px;
        float: right;
        color: #d9d9d9; }
        .main-content .box header .header-icon:hover {
          color: #ccc;
          cursor: pointer; }
    .main-content .box.link-box {
      float: left; }
      .main-content .box.link-box .main-link-info {
        margin-bottom: 30px;
        float: left; }
        .main-content .box.link-box .main-link-info img {
          float: left;
          display: inline-block;
          width: 45px;
          height: 45px; }
        .main-content .box.link-box .main-link-info .main-link-heading {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 0.8vw;
          float: left;
          display: inline-block;
          padding: 10px 20px;
          padding-right: 0;
          padding-top: 12px; }
      .main-content .box.link-box .main-link-desc {
        float: left;
        clear: both;
        padding: 20px 0px;
        border-top: 1px solid #e3e3e3;
        line-height: 1.4;
        font-weight: 400;
        color: #888; }
      .main-content .box.link-box .settings-icon {
        float: left; }
    .main-content .box.box-table {
      float: left;
      padding: 0; }
      .main-content .box.box-table .table {
        margin: 0; }
        .main-content .box.box-table .table thead tr td,
        .main-content .box.box-table .table thead tr th,
        .main-content .box.box-table .table tbody tr td,
        .main-content .box.box-table .table tbody tr th {
          padding: 20px;
          text-align: left;
          border-color: #f2f2f2; }
        .main-content .box.box-table .table thead tr th,
        .main-content .box.box-table .table tbody tr th {
          background: #f2f2f2;
          border-color: #e3e3e3;
          border-width: 1px;
          font-weight: 800; }
        .main-content .box.box-table .table thead tr td,
        .main-content .box.box-table .table tbody tr td {
          color: #888; }
      .main-content .box.box-table .full-width-button {
        float: left;
        width: 100%;
        box-sizing: border-box;
        background: #f2f2f2;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        border-top: 1px solid #e3e3e3; }
        .main-content .box.box-table .full-width-button:hover {
          background: #e6e6e6; }
      .main-content .box.box-table .tag {
        border-radius: 2px;
        float: right;
        text-align: center;
        color: #fff;
        opacity: 0.5;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px; }
        .main-content .box.box-table .tag.important {
          background: red; }
        .main-content .box.box-table .tag.done {
          background: green; }
        .main-content .box.box-table .tag.regular {
          background: blue; }
    .main-content .box.color-box {
      color: #fff;
      border: 0;
      box-sizing: border-box; }
      .main-content .box.color-box.green {
        background: #3fce91; }
      .main-content .box.color-box .date-time .main-date {
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        float: left; }
      .main-content .box.color-box .date-time .main-time {
        font-size: 56px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        float: left; }
      .main-content .box.color-box .date-time .time-zone {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        text-align: center;
        float: left; }
    .main-content .box.image-box {
      padding: 0;
      border: 0;
      box-sizing: border-box; }
      .main-content .box.image-box img {
        width: 100%; }
  .main-content .row .row-buried {
    padding: 0; }
    .main-content .row .row-buried:nth-child(odd) {
      padding-right: 10px; }
    .main-content .row .row-buried:nth-child(even) {
      padding-left: 10px; }

/*# sourceMappingURL=main.css.map */
