@media only screen and (max-width: 1200px) {
    .main-navigation {
        top: 0;
        ul {
            li {
                a {
                    text-align: center;
                    .glyphicon {
                        margin: 0;
                    }
                }
            }
        }
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .main-header {
        background: darken(#34313d,3%);
        border: 0;
        .site-name {
            a {
                font-size: 6px;
            }
        }
        .user-section {
            .user-name {
                color: #fafafa;
            }
        }
    }
    .main-navigation {
        height: auto;
        min-height: none;
        max-height: none;
        position: static;
        ul {
            li {
                a {
                    text-align: left;
                    .glyphicon {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}