.note-header {
    position: relative;
}

.noteform {
    padding: 10px;
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 15px;
    left: 15px;
    float: left;
    background: rgba(0, 0, 0, 0.07)
}

.noteform.single-input {}

.box.no-overflow>header {
    overflow: none;
}

.box.no-overflow {
    overflow: none;
}
